<!DOCTYPE html>
<html>
  <head>
    <title>Decrypt AES 128</title>
  </head>
  <body>
    <h1>Decrypt AES 128</h1>
    <form enctype = "multipart/form-data" method="post" action="/decryptAES128">
      <p>input file:</p>
        <input type="file" id="ip_file" name="ip_file"><br/>
        <p>output file:</p>
        <input type="file" id="op_file" name="op_file"><br/>
      <p>key:</p>
        <input type="text" id="key" name="key"><br/>
      <div>
        <button type="submit">Decrypt AES 128</button>
      </div>
    </form>
  </body>
</html>
