<!DOCTYPE html>
<html>
  <head>
    <title>Encrypt 3DES</title>
  </head>
  <body>
    <h1>Encrypt 3DES</h1>
    <form method="post" action="/encrypt3DES">
      <div>
        <label for="key">Key:</label>
        <input type="text" id="key" name="key">
      </div>
      <div>
        <label for="msg">Message to encrypt:</label>
        <input type="text" id="msg" name="msg">
      </div>
      <div>
        <button type="submit">Encrypt 3 DES</button>
      </div>
    </form>
  </body>
</html>
