<!DOCTYPE html>
<html>
  <head>
    <title>Generate Key</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      function generateKey() {
        $.ajax({
          url: '/generate_key',
          success: function(data) {
            $('#key').val(data);
          }
        });
      }
    </script>
  </head>
  <body>
    <h1>Generate Encryption Key</h1>
    <button type="button" onclick="generateKey()">Generate Key</button>
    <br><br>
    <label for="key">Encryption Key:</label>
    <br>
    <input type="text" id="key" name="key" size="50" readonly>

    <p><a href="{{ url_for('encrypt3DESForm') }}">Encrypt3DES</a></p>
    <p><a href="{{ url_for('decrypt3DESForm') }}">Decrypt3DES</a></p>
  </body>
</html>
