<!doctype html>
<html>
<head>
    <title>IS2 Assignment 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1><a href="{{ url_for('home') }}">IS2 Assignment 5</a></h1>
<h1>Chinmay Mandale</h1>
<h1>1001995246</h1>



    <p><a href="{{ url_for('encrypt3DESForm') }}">Encrypt3DES</a></p>
    <p><a href="{{ url_for('decrypt3DESForm') }}">Decrypt3DES</a></p>

    <p><a href="{{ url_for('encryptRSAForm') }}">Encrypt3DES</a></p>
    <p><a href="{{ url_for('decryptRSAForm') }}">Decrypt3DES</a></p>

    <p><a href="{{ url_for('encryptAES256Form') }}">Encrypt3DES</a></p>
    <p><a href="{{ url_for('decryptAES256Form') }}">Decrypt3DES</a></p>

    <p><a href="{{ url_for('encryptAES128Form') }}">Encrypt3DES</a></p>
    <p><a href="{{ url_for('decryptAES128Form') }}">Decrypt3DES</a></p>

    <p><a href="{{ url_for('compareHashesForm') }}">Compare SHA2 & SHA3</a></p>


</body>
</html>